@import '../../theme/variables';

.table {
  width: calc(100% - 2px);
  min-width: 700px;

  tr {
    background-color: white !important;
    border: solid 1px rgba(232, 232, 232, 0.49);
  }

  th {
    opacity: 0.7;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: $font-color-dark;
    border-top: none !important;
    border-bottom-width: 1px !important;
    border-color: rgba(198, 203, 212, 0.3) !important;
    text-transform: uppercase;
    text-align: right;
    cursor: pointer;

    &:first-child {
      padding-left: 0;
      text-align: left;
    }

    svg {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  td {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: $font-color-dark;
    border-top: none !important;
    border-bottom: 1px solid rgba(198, 203, 212, 0.3) !important;
    word-wrap: break-word;
    max-width: 300px;
    padding: 10px !important;
  }

  @include max-sm {
    td {
      padding: 20px 10px !important;
    }
  }
}
