@import './breakpoints';
@import '../variables';

h2 {
  margin-top: 0;
}

$font-primary: 'Filson Pro Black', arial;
$font-secondary: 'Karla', sans-serif;
$font-color: #000;
$font-color-medium: #333;
$font-color-light: #666;

body {
  font-size: 18px;
  color: $font-color;
  font-family: $font-secondary;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-family: $font-primary;
  color: $font-color;
}

h1, .h1 {
  font-size: 80px;
  margin-bottom: 20px;

  @media #{$max-sm} {
    font-size: 65px;
  }
  @media #{$max-xs} {
    font-size: 45px;
  }
}

h2, .h2 {
  font-size: 60px;
  margin-bottom: 15px;

  @media #{$max-sm} {
    font-size: 54px;
  }
  @media #{$max-xs} {
    font-size: 40px;
  }
}

h1, .h1, h2, .h2 {
  small {
    font-size: 30px;
    text-transform: uppercase;
    font-family: $font-secondary;
    letter-spacing: 5px;

    @media #{$max-xs} {
      font-size: 24px;
      letter-spacing: 3px;
    }
  }
}

h3, .h3 {
  font-size: 38px;
  margin-bottom: 15px;

  @media #{$max-sm} {
    font-size: 30px;
  }
  @media #{$max-xs} {
    font-size: 26px;
  }

  small {
    font-size: 25px;
    color: $font-color-light;
    font-family: $font-secondary;
    line-height: 1.8;

    @media #{$max-sm} {
      font-size: 20px;
    }
  }
}

h4, .h4 {
  font-size: 25px;

  @media #{$max-xs} {
    font-size: 22px;
  }
}

h5, .h5 {
  font-size: 21px;

  @media #{$max-xs} {
    font-size: 19px;
  }
}

p, li {
  font-size: 18px;
  line-height: 175%;
  font-family: $font-secondary;
  color: $font-color-light;
}

span, button, .btn, div {
  font-family: $font-secondary;
}
