@import '../../theme/variables';
@import '../../theme/common';

.Home {
  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 50px;

    div {
      display: flex;
      align-items: center;

      svg {
        font-size: 20px;
        margin-left: 10px;
      }
    }

    button {
      align-self: flex-end;
    }

    h4 {
      margin-bottom: 0;
      font-family: Filson-Black, serif;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}

.sortCaret {
  cursor: pointer;
  transform: translateY(0);
  transition: background .3s, border .3s, color .3s, box-shadow .3s, transform .3s;
  outline: none;

  &:hover {
    color: #18ECC0;
    box-shadow: 0 0 30px rgba(24,236,192,0.48);
  }

  &--active {
    color: #18ECC0;
    box-shadow: 0 0 30px rgba(24,236,192,0.48);
  }
}

.smallText {
  font-size: 12px;
  font-style: italic;
  display: inline;
  margin-left: -8px;
}
