@import '../theme/variables';
@import '../theme/modules/_typography';
@import '../theme/modules/_buttons';

@font-face {
  font-family: 'Work-Sans-Bold';
  src: url('../fonts/WorkSans-Bold.ttf') format('truetype');
}

html {
  overflow-y: scroll;
}

body,
html {
  height: 100%;
  width: 100%;
}

#react-view {
  height: 100%;
}

.App {
  min-height: 100%;
  position: relative;
  // background-image: url('../../public/assets/Arcade-bg.jpg');
  // overflow: hidden;
}

body {
  background-color: #fafafa;
}
