@import '../theme/variables';
@import '../theme/modules/_typography';
@import '../theme/modules/_buttons';

@font-face {
  font-family: 'Work-Sans-Bold';
  src: url('../fonts/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'logo-font';
  src: url('../fonts/earthsmightiest3d.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera-Bold';
  src: url('../fonts/Cera-Pro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera-Medium';
  src: url('../fonts/Cera-Pro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera-Regular';
  src: url('../fonts/Cera-Pro-Regular.ttf') format('truetype');
}

html {
  overflow-y: scroll;
}

body,
html {
  height: 100%;
  width: 100%;
}

#react-view {
  height: 100%;
}

.App {
  min-height: 100%;
  position: relative;
  max-width: 100%;
  background: linear-gradient(to bottom, #f7f7f7 0%, #e3f1f7 35%, #feffff 100%);
  // background-image: url('../../public/assets/Arcade-bg.jpg');
  // overflow: hidden;
}

.ProductContainer {
  display: flex;
  width: 100%;
  overflow: visible;
}
