@import '../theme/variables';
@import '../theme/modules/_typography';
@import '../theme/modules/_buttons';

@font-face {
  font-family: 'Work-Sans-Bold';
  src: url('../fonts/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'logo-font';
  src: url('../fonts/earthsmightiest3d.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera-Bold';
  src: url('../fonts/Cera-Pro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera-Medium';
  src: url('../fonts/Cera-Pro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera-Regular';
  src: url('../fonts/Cera-Pro-Regular.ttf') format('truetype');
}

html {
  overflow-y: scroll;
}

body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  background: white;
}

#react-view {
  height: 100%;
}
