.right {
  position: relative;
  width: 100%;
  height: 100%;

  .wave__one {
    position: absolute;
    left: -192px;
    top: -157px;
    transform: rotate(9deg);
    z-index: -1;
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  .wave__two {
    position: absolute;
    left: -201px;
    top: -57px;
    transform: rotate(9deg);
    z-index: -2;
  }

  .wave__three {
    position: absolute;
    left: 0;
    top: -57px;
    transform: rotate(9deg);
    z-index: -3;
  }

  .wave__four {
    position: absolute;
    left: 130px;
    top: -57px;
    transform: rotate(9deg);
    z-index: -4;
  }

  .wave__five {
    position: absolute;
    left: 421px;
    top: -57px;
    transform: rotate(9deg);
    z-index: -5;
  }
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
